# Copyright (C) 2026 Amutable GmbH

# Intended to be a drop-in replacement for systemd-sysupdate.service.

[Unit]
Description=Quarry-Based Automatic System Update
Wants=network-online.target
After=network-online.target

# For containers we assume that the manager will handle updates. And we likely
# can't even access our backing block device anyway.
ConditionVirtualization=!container

[Service]
Type=simple
NotifyAccess=main
ExecStart=/usr/bin/quarry-sysupdate update --quarry-user=quarry --quarry-proxy=http://localhost:555/
NoNewPrivileges=yes
MemoryDenyWriteExecute=yes
ProtectHostname=yes
RestrictRealtime=yes
RestrictNamespaces=net mnt
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
SystemCallFilter=@system-service @mount @setuid @process
SystemCallErrorNumber=EPERM
SystemCallArchitectures=native
LockPersonality=yes

[Install]
Also=quarry-sysupdate.timer
