# SPDX-License-Identifier: Apache-2.0
# Copyright (C) 2026 Amutable GmbH

/.git

# Docker-related stuff shouldn't be in the context.
/Dockerfile
/.dockerignore

# Binaries.
/hardhat
/quarry-client
/quarry-sysupdate
