# SPDX-License-Identifier: Apache-2.0
# Copyright (C) 2026 Amutable GmbH

/hardhat
/quarry
# Old binary names.
/quarry-client
/quarry-sysupdate
# In mkosi we do a raw rpmbuild which outputs a bunch of these *.list files.
/*.list
